.u-section-1 .u-sheet-1 {
  min-height: 179px;
}

.u-section-1 .u-text-1 {
  font-size: 0.75rem;
  letter-spacing: 3px;
  font-weight: 700;
  margin: 35px 776px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin: 12px 257px 0 519px;
}

.u-section-1 .u-form-1 {
  height: 78px;
  margin: -73px 704px 0 -14px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  letter-spacing: 3px;
  font-weight: 700;
  margin: -89px 257px 60px 519px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 576px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 157px;
    margin-left: 419px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 604px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 157px;
    margin-bottom: 0;
    margin-left: 419px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 356px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 47px;
    margin-left: 309px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 494px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 47px;
    margin-left: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 176px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 275px;
    margin-right: 176px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    height: 205px;
    margin-top: -321px;
    margin-right: 176px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-right: 176px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 24px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 774px;
}

.u-section-2 .u-text-1 {
  font-size: 0.75rem;
  letter-spacing: 3px;
  font-weight: 700;
  margin: 35px 776px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.75rem;
  letter-spacing: 3px;
  font-weight: 700;
  margin: -14px 262px 0 514px;
}

.u-section-2 .u-text-3 {
  letter-spacing: -1px;
  font-weight: 700;
  margin: 45px 776px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: -73px 15px 0 518px;
}

.u-section-2 .u-image-1 {
  width: 71px;
  height: 71px;
  margin: -713px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 71px;
  height: 71px;
  margin: -71px auto 60px 514px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 45px;
    margin-right: 576px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 157px;
    margin-left: 418px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 36px;
    margin-right: 576px;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.75rem;
    width: auto;
    margin-top: -79px;
    margin-right: 18px;
    margin-left: 418px;
  }

  .u-section-2 .u-image-1 {
    width: 106px;
    height: 106px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 29px;
    margin-left: 178px;
    margin-right: 178px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 178px;
    margin-right: 178px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 45px;
    margin-right: 356px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 216px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 45px;
    margin-right: 176px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 320px;
    margin-right: 176px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -298px;
    margin-right: 176px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 251px;
    margin-right: 176px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-left: 469px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 307px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 304px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -290px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 266px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-left: 269px;
  }
}